$font-path: '../fonts/';
$defaultSpeed: .2s;
$defaultEase: ease-in-out;
$defaultDelay: .2s;
$textColor: #bbb;

$toggleButtonSize: 72px;

%fadeOut{
  opacity: 0;
  visibility: hidden;
}
%fadeIn{
  opacity: 1;
  visibility: visible;
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url($font-path 'HelveticaNeueCE35Thin.eot?#iefix') format('embedded-opentype'),
  url($font-path 'HelveticaNeueCE35Thin.woff2')           format('woff2'),
  url($font-path 'HelveticaNeueCE35Thin.woff')            format('woff'),
  url($font-path 'HelveticaNeueCE35Thin.ttf')             format('truetype');
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html{
  -webkit-font-smoothing: antialiased;
}
body {
  transition: all $defaultSpeed $defaultEase;
  background-color: black;
  color: $textColor;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  &.modal-open{
    // overflow: hidden;
  }
}
#site-wrapper{
  padding-top: 20px;
  padding-bottom: $toggleButtonSize;
}

header, main, footer{
  text-align: center;
}

.container{
  max-width: 820px;
}
a{
  text-decoration: none !important;
  &:focus{
    outline: none;
  }
}
.main-header{
  margin-bottom: 30px;
  img{
    margin-left: -13%;
    @media(max-width: $screen-sm){
      margin-left: auto;
      max-width: 50vw;
      min-width: 200px;
    }
  }
}
main{
  margin-bottom: 70px;
}
img.fluid-width{
  max-width: 100%;
}
#main-figure{
  font-size: 24px;
  @media(max-width: $screen-sm){
    font-size: 18px;
  }
  & > img{
    transition: opacity ($defaultSpeed * 2) $defaultEase ($defaultDelay * 2);
    opacity: 1;
    .modal-open &{
      opacity: .2;
    }
  }
  figcaption{
    transition: opacity ($defaultSpeed * 2) $defaultEase ($defaultSpeed * 2), height ($defaultSpeed * 2) $defaultEase ($defaultSpeed * 2);
    transition-property: opacity, height;
    transition-duration: ($defaultSpeed * 2), ($defaultSpeed * 2);
    transition-timing-function: $defaultEase, $defaultEase;
    transition-delay: ($defaultSpeed * 2), ($defaultSpeed );

    @extend %fadeIn;
    .modal-open &{
      opacity: 0;
    }
  }
}
#main-footer{
  @media(max-width: $screen-sm){
    display: none;
  }
}
.footer-content{ font-size: 30px; }
.contact-info a{
  @media(min-width: $screen-sm){
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 24px;
  }
}
.contact-info{
  @media(max-width: $screen-sm){
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 24px;
  }
}
a.btn-transparent{
  display: inline-block;
  border-radius: 3px;
  transition: all .2s $defaultEase;
  color: $textColor;
  &:hover{
    background-color: rgba(lighten(black, 5%), .85);
    color: lighten($textColor, 5%);
  }
  &:active{
    background-color: rgba(lighten(black, 8%), .85);
    color: white;
  }
}


[data-role="toggle-container"]{
  min-height: $toggleButtonSize + 20;
  @media(min-width: $screen-sm){
    display: none;
  }
  @media(max-width: $screen-sm){
    display: block;
  }
}
a[data-toggle="overlay"]{
  display: inline-block;
  text-decoration: none;
}
.btn-close,
.btn-open{
  position: relative;
  display: inline-block;
  height: $toggleButtonSize;
  width: $toggleButtonSize;
  transition: opacity $defaultSpeed $defaultEase $defaultDelay;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 0;
  box-shadow: none;
}
.btn-close{
  background-image: url(../images/btn_close.png);

}
.btn-open{
  background-image: url(../images/btn_open.png);
  .modal-open &{
    opacity: 0;
  }
}
// .footer-content, .modal-content{
//   .overlay-header{
//     @extend .main-header;
//     @media(min-width: $screen-sm){
//       display: none;
//     }
//   }
//   @media(min-width: $screen-sm){
//     display: block;
//   }
// }

.modal-content{
  .heading{
    font-size: 7vw;
  }
  .sub-heading{
    font-size: 5vw;
  }
}
.modal [data-role="toggle-container"]{
  margin: 50px 0;
}
.vertical-container{
  display: table;
  height: calc(100vh - 140px); //110px + 30px is height of logo + margin
  width: 100%;

  .vertical-content{
    display: table-cell;
    vertical-align: middle;
  }
}

/* modal */
.modal.fade:not(.in) .modal-dialog {
  transform: translate3d(0, 25%, 0);
}
.modal-backdrop.in{
  opacity: .8;
}
.modal-content{
  background-color: transparent;
}
