$font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url($font-path 'HelveticaNeueCE35Thin.eot?#iefix') format('embedded-opentype'),
  url($font-path 'HelveticaNeueCE35Thin.woff2')           format('woff2'),
  url($font-path 'HelveticaNeueCE35Thin.woff')            format('woff'),
  url($font-path 'HelveticaNeueCE35Thin.ttf')             format('truetype');
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html{
  -webkit-font-smoothing: antialiased;
}
body {
  padding-top: 20px;
  padding-bottom: 90px;
  background-color: black;
  color: #bbb;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

header, main, footer{
  text-align: center;
}

.container{
  max-width: 820px;
}
#main-header{
  margin-bottom: 30px;
  img{
    margin-left: -13%;
    @media(max-width: $screen-sm){
      margin-left: auto;
      max-width: 50vw;
      min-width: 200px;
    }
  }
}
main{
  margin-bottom: 70px;
}
img.fluid-width{
  max-width: 100%;
}
#main-figure{ font-size: 24px; }
#main-footer{ font-size: 30px; }

.contact-info{
  margin-top: 45px;
  margin-bottom: 45px;
}

.btn-close,
.btn-open{
  $size: 72px;
  display: inline-block;
  height: $size;
  width: $size;
  transition: all .2s ease-in-out;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @media(min-width: $screen-sm){
    display: none;
  }
}
.btn-close{
  background-image: url(../images/btn_close.png);
  .overlay-open &{
    visibility: visible;
  }
}
.btn-open{
  background-image: url(../images/btn_open.png);
  .overlay-open &{
    visibility: hidden;
  }
}
